{% extends 'personal/header.html' %}

{% block content %}
<p>One ring to find them</p>
<p>One ring to bring them all</p>
<p>And in the darkness bind them</p>
<h3>
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
{% include 'personal/includes/htmlsnippet.html' %}
</h3>

{% endblock %}